:root {
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --light-txt-color: #ffffff;
  --active-txt-color: #2196f3;
  --primery-txt-color: #212121;
  --secondary-txt-color: #757575;
  --footer-contacts-txt-color: rgba(255, 255, 255, 0.6);
  --logo-head-txt-color: #000000;
  --main-font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link,
.logo {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  background-color: var(--primery-bg-color);
  color: var(--primery-txt-color);
  font-family: var(--main-font-family);
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ----------- LOGO ---------- */
.logo {
  color: var(--active-txt-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-head-color {
  color: var(--logo-head-txt-color);
}
.logo-ftr-color {
  color: var(--light-txt-color);
}
/* ------------ HEADER ------------ */
.head-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}

.head-nav-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav {
  display: flex;
  align-items: center;
}
.main-nav,
.contacts-nav {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav-link {
  color: inherit;
}
.contacts-nav-list {
  color: var(--secondary-txt-color);
}

.main-nav-link,
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav-link:hover,
.main-nav-link:focus:focus,
.main-nav-link.current,
.contacts-nav-list:hover,
.contacts-nav-list:focus {
  color: var(--active-txt-color);
}

/* --------------- MAIN ----------------- */

/* --------------- HERO ----------------- */
.hero {
  color: var(--light-txt-color);
  background-color: var(--dark-bg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 216px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  color: var(--light-txt-color);
  background-color: var(--active-txt-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* -------------- OUR ADVANTAGES ---------------- */

.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  color: var(--secondary-txt-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* -------------- ABOUT US ---------------- */

.about-title,
.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -------------- OUR TEAM ---------------- */

.section-team {
  background-color: var(--secondary-bg-color);
}
.team-card {
  background-color: var(--primery-bg-color);
}
.team-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.function-team {
  color: var(--secondary-txt-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -------------- PORTFOLIO FILTER ---------------- */
.filter-btn {
  color: inherit;
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn.curent {
  color: var(--light-txt-color);
  background-color: var(--active-txt-color);
}

/* -------------- PORTFOLIO ---------------- */
.portfolio-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-text {
  color: var(--secondary-txt-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* -------------- FOOTER ---------------- */
.footer-nav {
  background-color: var(--dark-bg-color);
}
.address-list {
  color: var(--light-txt-color);
}
.contacts-list {
  color: var(--footer-contacts-txt-color);
}
.address {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.address-list:hover,
.address-list:focus,
.contacts-list:hover,
.contacts-list:focus {
  color: var(--active-txt-color);
}
